.header {position: fixed; top: 0; left: 0; z-index: 500; width: 100%; background-color: var(--color-white);}
.header .inner {display: flex; height: 5.625rem;}

.hd-logo > a {display: block; height: 100%;}

.gnb {margin-left: 6.25rem; text-align: center;}
.gnb .dp1 {display: flex; height: 100%;}
.gnb .dp1 > li {position: relative;}
.gnb .dp1 > li > a {display: flex; align-items: center; height: 100%; padding: 0 2.812rem; font-size: 1.25rem; font-weight: 500; color: var(--color-black);}
.gnb .dp2 {display: none; position: absolute; top: 4.125rem; left: 50%; transform: translateX(-50%); width: 100%; padding: 0.65rem 0; background-color: var(--color-main);}
.gnb .dp2 > li > a {display: block; padding: 5px 0; font-size: 1.125rem; font-weight: 500; color: #fff;}

.header-ham {display: none;}

/* footer */
.footer {border-top: 1px solid #6d6d6d;}
.footer .inner {display: flex; align-items: center; justify-content: space-between; height: 6.563rem;}
.ft-info {display: flex; align-items: center;}
.ft-info .cn-logo {display: block; width: 9.375rem;}
.ft-info .contact {position: relative; margin-left: 2.5rem; font-size: 0;}
.ft-info .contact:before {content: ""; display: block; position: absolute; top: 50%; left: -1.25rem; height: 1.25rem; margin-top: -0.625rem; border-left: 2px solid #e1e1e1;}
.ft-info .contact .t1 {display: inline-block; margin-right: 0.5rem; padding: 0.3rem 0.625rem 0.08rem; font-size: 1rem; font-weight: 500; color: var(--color-white); background-color: #004b98; text-align: center;}
.ft-info .contact .t2 {font-size: 1.25rem; font-weight: 700; color: #333;}
.ft-info .contact .t3 {font-size: 1.125rem; font-weight: 700; color: #333;}
.copyright {font-size: 1rem; font-weight: 300; color: #333;}

/* contents */
.contents {margin-top: 90px;}

/* main */
.main-visual .swiper-slide {position: relative; height: calc(100vh - 7rem);}
.main-visual .swiper-slide.slide1 {background: url('../img/main-vs1_bg.jpg') no-repeat center/cover;}
.main-visual .slide-contents {position: absolute; top: 50%; left: 50%; z-index: 10; transform: translate(-50%, -50%); width: 100%; padding: 0 3.125rem; text-align: center;}
.main-visual .slide-contents .t1 {display: inline-block; position: relative; max-width: 100%; margin: 0 auto 2.5rem; padding: 1.125rem 1.875rem 0.7rem; font-size: 1.875rem; color: var(--color-white); background-color: #c31818; line-height: normal;}
.main-visual .slide-contents .t1:after {content: ""; display: block; position: absolute; bottom: 0.4rem; right: -0.8rem; width: 1.813rem; height: 1.313rem; background: url('../img/chat-poly.png') no-repeat center/contain;}
.main-visual .slide-contents .t2 {position: relative; max-width: 100%; margin: 0 auto; font-size: 5rem; color: #026129; line-height: 1;}
.main-visual .slide-contents .t2:after {content: attr(data-shadow-text); position: absolute; top: 0; left: 0; z-index: -1; color: #fff; -webkit-text-stroke: 20px;}
.main-visual .slide-contents .t3 {position: relative; max-width: 100%; margin: 2.5rem auto 0; font-size: 1.5rem; font-weight: 500; color: #063218; line-height: 1.415;}

.main-visual .slide1 .slide-contents {margin-top: -6%;}
.main-visual .slide1 .slide-contents .t1 {display: inline-block;}
.main-visual .slide1 .slide-contents .t2 {display: inline-block;}
.main-visual .slide1 .slide-contents .t2:before {content: ""; display: block; position: absolute; top: -7.5rem; left: -6rem; z-index: -2; width: 9.125rem; height: 9.75rem; background: url('../img/main-vs1_t1_symbol.png') no-repeat center/contain;}
.main-visual .slide1 .slide-contents .t3 {width: 31.25rem;}

.main-visual .scroll-info {display: block; position: absolute; bottom: 0; right: 0; z-index: 20; width: 18.687rem; height: 7.562rem; background: url('../img/main-vs_mask.png') no-repeat bottom right/contain;}
.main-visual .scroll-info .comp {display: block; position: absolute; bottom: 0; right: 0; z-index: 30; width: 100%; padding-right: 0.625rem; font-size: 0; text-align: right; line-height: 5.625rem;}
.main-visual .scroll-info .comp .text {display: inline-block; font-size: 1.25rem; font-weight: 500; color: var(--color-black); vertical-align: middle;}
.main-visual .scroll-info .comp .icon {display: inline-block; width: 4rem; height: 4rem; margin-left: 1.5rem; border-radius: 50%; background: url('../img/arrow-down-white1.svg') no-repeat center/1.25rem auto, var(--color-main); vertical-align: middle;}

.main_section {padding: 5.9375rem 0 7.5rem;}
.main_title_box {padding-bottom: 2.6875rem;}
.main_title_box .text01 {font-weight: 500; line-height: 1.32; font-size: 3.125rem;}
.main_title_box .text01 b {font-weight: 700;}

.main_banner_wrap {margin: -30px;}
.main_banner_box {padding: 30px;}
.main_banner_item {border-radius: 30px; display: block; position: relative; overflow: hidden; font-size: 0;}
.main_banner_bg {position: relative; height: 0; padding-bottom: 35.157%;}
.main_banner_bg img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%;}
.main_banner_text {font-weight: 700; font-size: 3.5rem; line-height: 1.17; color: #fff;}
.main_banner_text .green {font-size: 4.25rem; color: #57e5bb;}
.main_banner_item.item01 .main_banner_bg {padding-bottom: 39%;}
.main_banner_item.item01 .main_banner_text {position: absolute; top: 8rem; left: 4.1875rem;}
.main_banner_item.item02 .main_banner_text {position: absolute; top: 47%; left: 50%; transform: translate(-50%,-50%); max-width: 100%;  font-size: 3.75rem; color: #fff; line-height: 1; white-space: nowrap;}
.main_banner_item.item02 .main_banner_text:after {content: attr(data-shadow-text); position: absolute; top: 0; left: 0; z-index: -1; color: #303c98; -webkit-text-stroke: 14px;}
.main_banner_item.item03 .main_banner_text {position: absolute; top: 37%; left: 50%; transform: translate(-50%,-50%); font-size: 0; font-weight: 700; font-size: 3.75rem; line-height: 1.266; text-align: center;}
.main_banner_item.item03 .main_banner_text span {font-size: 1.625rem; font-weight: 500; display: block; padding-top: 0.625rem;}

.main_banner_item .banner_btn {display: flex; align-items: center; justify-content: center; background-color: #7c7c7c; width: 4rem; height: 4rem; border-radius: 50%; position: absolute; bottom: 3.125rem; left: 4.375rem;}

.main_economy_wrap {font-size: 0; margin: -20px; padding: 40px 0;}
.main_economy_box {font-size: 16px; display: inline-block; vertical-align: top; width: 50%; padding: 20px;}
.main_economy_item {box-shadow: 10px 0 30px rgba(0,0,0,0.15); display: block; border-radius: 30px; width: 100%; height: 550px; padding: 54px 55px;}
.main_economy_item.item01 {background: url('../img/main-economy-item01.png') no-repeat center/cover;}
.main_economy_item.item02 {background: url('../img/main-economy-item02.png') no-repeat center/cover;}
.main_economy_item.item03 {background: url('../img/main-economy-item03.png') no-repeat center/cover;}
.main_economy_item.item04 {background: url('../img/main-economy-item04.png') no-repeat center/cover;}

.main_economy_item .text_box {}
.main_economy_item .text_box .text01 {font-weight: 700; font-size: 3.75rem; line-height: 1.26;}
.main_economy_item .text_box .text02 {font-weight: 500; font-size: 1.625rem; margin-bottom: 0.3rem;}

.main_economy_item.item01 .text_box {color: #303c98;}
.main_economy_item.item02 .text_box {color: #7d2020;}
.main_economy_item.item03 .text_box {color: #264c17;}
.main_economy_item.item04 .text_box {color: #4e2161;}

/* sub */
.sub-contents {padding-top: 6.25rem; padding-bottom: 7.5rem;}

.sub-visual {}
.sub-visual .inner {overflow: hidden; height: 31.25rem; background-color: #f9f9f9;}
.sub-visual .wrapper {height: 100%;}
.sub-visual .comp {display: flex; flex-flow: column wrap; align-content: flex-start; justify-content: center; height: 100%;}
.sub-visual .comp-in {}
.sub-page__title {font-size: 5rem; font-weight: 700; color: #175430; line-height: normal;}
.sub-page__stitle {margin-top: 0.75rem; font-size: 2rem; font-weight: 700; color: #175430; line-height: normal;}
.white .sub-page__title {color: #fff;}
.white .sub-page__stitle {color: #fff;}

#future .sub-visual .inner{background: url('../img/sub-vs_bg_future.jpg') no-repeat center/cover, #fff;}
#future .sub-page__title,
#future .sub-page__stitle {color: #2c3256;}
#transitional .sub-visual .inner{background: url('../img/sub-vs_bg_transitional.jpg') no-repeat center/cover, #fff;}
#transitional .sub-page__title,
#transitional .sub-page__stitle {color: #132f54;}
#circular .sub-visual .inner{background: url('../img/sub-vs_bg_circular.jpg') no-repeat center/cover, #fff;}
#circular .sub-page__title,
#circular .sub-page__stitle {color: #175430;}
#living .sub-visual .inner{background: url('../img/sub-vs_bg_living.jpg') no-repeat center/cover, #fff;}
#living .sub-page__title,
#living .sub-page__stitle {color: #fff;}
#countryHub .sub-visual .inner{background: url('../img/sub-vs_bg_countryHub.jpg') no-repeat center/cover, #fff;}
#summary .sub-visual .inner{background: url('../img/sub-vs_bg_summary.jpg') no-repeat center/cover, #fff;}
#newsList .sub-visual .inner {height: 20rem; background: none;}
#newsView .sub-visual .inner {height: 20rem; background: none;}
#galleryList .sub-visual .inner {height: 20rem; background: none;}
#galleryView .sub-visual .inner {height: 20rem; background: none;}

#newsList .sub-page__title,
#newsList .sub-page__stitle,
#newsView .sub-page__title,
#newsView .sub-page__stitle,
#galleryList .sub-page__title,
#galleryList .sub-page__stitle,
#galleryView .sub-page__title,
#galleryView .sub-page__stitle {color: var(--color-black);}

#newsList .sub-contents,
#newsView .sub-contents,
#galleryList .sub-contents,
#galleryView .sub-contents {padding-top: 2rem;}




.sb-section:not(:first-child) {margin-top: 6.25rem;}

.sb-title__box {}
.sb-title__box .sb-title {position: relative; padding-left: 1.875rem; font-size: 2.5rem; font-weight: 700; color: var(--color-black); line-height: normal;}
.sb-title__box .sb-title:before {content: ""; display: block; position: absolute; top: 0.3rem; left: 0; width: 0.56rem; height: 1.75rem; background-color: #e33e3e;}

.sb-ct__box {margin-top: 3.3rem;}
.sb-ct__inner:not(:first-child) {margin-top: 2.5rem;}
.sb-ct__inner.bd {padding-top: 2.5rem; border-top: 1px dashed #d5d5d5;}
.sb-text__box {}
.sb-text__box.gray {padding: 2.5rem; background-color: #f7f7f7;}
.sb-text__box.bsArea {display: flex; flex-flow: row wrap; gap: 1rem 2.5rem;}
.bsArea__box {width: calc(100% / 2 - 2.5rem / 2); padding: 2rem 0.625rem 2rem 2.5rem; font-size: 1.5rem; font-weight: 600; color: var(--color-black); box-shadow: 5px 0 30px rgba(115,115,115,0.15);}

.sb-text__wr.indent1 {padding-left: 1.25rem;}
.sb-text__wr.mt1 {margin-top: 0.56rem;}
.sb-text__wr.mt2 {margin-top: 1.12rem;}

.sb-text1 {font-size: 1.5rem; font-weight: 600; color: var(--color-black);}
.sb-text1.mark {padding-left: 1.25rem; text-indent: -1.25rem; line-height: 1.7;}
.sb-text2 {font-size: 1.125rem; font-weight: 500; color: var(--color-black); line-height: 1.7;}
.sb-text2.mark {padding-left: 0.75rem; text-indent: -0.75rem;}
.sb-text3 {font-size: 1.125rem; font-weight: 400; color: #279e7b;}
.sb-text3.mark {}
.sb-text3.mark:before {content: ""; display: inline-block; width: 1.125rem; height: 0.812rem; margin-right: 0.625rem; background: url('../img/arrow-sb-text3.svg') no-repeat center/contain;}

.color_gray {color: #999;}

.sb-circle__box {position: relative; display: flex; justify-content: center;}
.sb-circle__box.child2 {gap: 0 6.25rem;}
.sb-circle__box .line {position: absolute; top: 50%; left: 0; z-index: 1; width: 100%; border-top: 1px solid #e2e2e2; margin-top: -0.5px;}
.sb-circle__box .line:before {content: ""; display: block; position: absolute; top: 50%; left: 0; z-index: 2; width: 1rem; height: 1rem; margin-top: -0.5rem; border: 0.19rem solid #a8cec2; border-radius: 50%; background-color: #fff; box-sizing: border-box;}
.sb-circle__box .line:after {content: ""; display: block; position: absolute; top: 50%; right: 0; z-index: 2; width: 1rem; height: 1rem; margin-top: -0.5rem; border: 0.19rem solid #a8cec2; border-radius: 50%; background-color: #fff; box-sizing: border-box;}
.sb-circle {position: relative; z-index: 10; display: flex; flex-flow: column wrap; justify-content: center; align-items: center; align-content: center; width: 17.5rem; height: 17.5rem; padding: 0 1rem; border: 0.44rem solid #c8e8de; text-align: center; background-color: #f0faf7; box-sizing: border-box;}
.sb-circle .t1 {font-size: 1.75rem; font-weight: 600; color: #137155; line-height: normal;}
.sb-circle .t2 {font-size: 1.125rem; font-weight: 500; color: #666; line-height: 1.55;}
.sb-circle .t2:before {content: ""; display: block; width: 0.812rem; height: 2px; margin: 1.25rem auto; background-color: #2e6a57;}

.rel_img_slide_wrap {position: relative;}
.rel_img_slide_btn_box {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: flex; align-items: center; justify-content: space-between; width: 91.5rem;}
.rel_img_slide_btn_box .prev {display: flex; width: 62px; height: 62px; border-radius: 50%; border: 1px solid #666; background: url('../img/slide-prev.png') no-repeat center; cursor: pointer;}
.rel_img_slide_btn_box .next {display: flex; width: 62px; height: 62px; border-radius: 50%; border: 1px solid #666; background: url('../img/slide-next.png') no-repeat center; cursor: pointer;}
.rel_img_sl {overflow: hidden;}
.rel_img_sl_item {}
.rel_img_sl_item .img_wr {border-radius: 20px; overflow: hidden; position: relative; height: 0; padding-bottom: 117.242%;}
.rel_img_sl_item .img_wr img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%;}
.rel_img_sl_item .txt_wr {padding: 0 10px; padding-top: 16px;}
.rel_img_sl_item .txt_wr .title {font-weight: 400; font-size: 1.125rem; color: #0f0f0f; line-height: 1.444; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 2.888rem; word-break: break-all;}

/* table */
.table_wr {}
.table_box {}
.table_box .mobile_text {text-align: center; padding-bottom: 0.375rem; font-weight: 600; display: none;}
.table_box table {border: 1px solid #e4e4e4; width: 100%;}
.table_box table tbody {border-top: 1px solid #e4e4e4;}
.table_box table tr {}
.table_box table tr:last-child {border-bottom: none;}
.table_box table tr th {background-color: #fcf4f4; font-weight: 600; font-size: 1.125rem; border-right: 1px solid #e4e4e4; padding: 1rem 1.875rem; vertical-align: middle;}
.table_box table tr th:last-child {border-right: none;}
.table_box table tr td {font-weight: 400; padding: 0 1.875rem; vertical-align: top; font-weight: 400; font-size: 1.125rem; line-height: 1.888; border-right: 1px solid #e4e4e4; vertical-align: middle;}
.table_box table tr td.rowTd {vertical-align: middle;}
.table_box table tr td.rowTd .text {font-weight: 600; font-size: 1.125rem; line-height: 1.5;}
.table_box table tr td:last-child {border-right: none;}
.table_box table tr .left {text-align: left;}
.table_box table tr .center {text-align: center;}
.table_box table tr .text {font-weight: 400; font-size: 1.125rem; line-height: 1.888;}
.table_box table tr td.rowTd .text {font-weight: 600; font-size: 1.125rem;}
.table_box table tr .pt {padding-top: 0.625rem;}
.table_box table tr .pb {padding-bottom: 0.625rem;}
.table_box table tr .bold {font-weight: 600; line-height: 1.5;}

/* hover */
@media screen and (min-width: 1290px) {
  .gnb .dp1 > li:hover .dp2 {display: block;}
  .gnb .dp1 > li > a:hover {color: var(--color-main);}
  .gnb .dp2 > li > a:hover {text-decoration: underline;}
}

/* 텍스트형(보도자료) - 리스트 */
.board {}
.board_top {display: flex; align-items: flex-end; justify-content: space-between; padding-bottom: 1.25rem;}
.board_cnt_wrap {}
.board_cnt {font-weight: 400; font-size: 1.125rem; color: #0f0f0f;}
.board_cnt span {font-weight: 700; color: #175430;}
.board_srch_wrap {}
.board_srch_bar {display: flex; align-items: center; justify-content: space-between; gap: 0 0.8125rem;}
.board_srch_bar select {width: 7.75rem; border: none; border-bottom: 1px solid #ccc; background: url('../img/icon-select.png') no-repeat center right 0.625rem; padding: 1.125rem 0.625rem; font-weight: 400; font-size: 1rem; color: #0f0f0f; appearance: none;}
.board_srch_input_wrap {width: 21.125rem; border-bottom: 1px solid #ccc; position: relative;}
.board_srch_input_wrap input[type=text] {font-weight: 400; font-size: 1rem; color: #0f0f0f; border: none; padding: 1.125rem 1.625rem 1.125rem 0.625rem; outline: none; width: 100%; background-color: transparent;}
.board_srch_input_wrap [type=submit] {border: none; background-color: transparent; position: absolute; top: 50%; right: 0.625rem; transform: translateY(-50%);}

.board_contents {}
.list {}
.list_head {display: flex; width: 100%; border-radius: 5px; background-color: #333; height: 60px; align-items: center;}
.list_head .th {font-weight: 400; font-size: 1.125rem; color: #fff; position: relative; text-align: center;}
.list_head .th:last-child::after {display: none;}
.list_head .th::after {content: ''; width: 1px; height: 17px; background-color: rgba(255,255,255,0.3); position: absolute; top: 50%; right: 0; transform: translateY(-50%);}

.list .td_num {width: 6.375rem;}
.list .td_subj {width: calc(100% - 33.9375rem);}
.list .td_depart {width: 11.125rem;}
.list .td_hits {width: 8rem;}
.list .td_file {width: 8.4375rem;}

.list_body {}
.list_body_item {display: flex; align-items: center; transition: .3s; border-bottom: 1px solid #dedede; padding: 1.913125rem 0;}
.list_body_item .td {text-align: center;}
.list_body_item .td.td_num {font-weight: 700; font-size: 1.25rem; color: #d9d9d9;}
.list_body_item .td.td_subj {text-align: left; padding: 0 1.5rem;}
.list_body_item .td.td_subj .td_date {font-weight: 500; font-size: 1rem; color: #bdbdbd; padding-bottom: 0.5rem; transition: .3s;}
.list_body_item .td.td_subj .td_title {font-weight: 400; font-size: 1.125rem; color: #0f0f0f; transition: .3s;}
.list_body_item .td.td_depart {font-weight: 300; font-size: 1.125rem; color: #666; transition: .3s;}
.list_body_item .td.td_hits {font-weight: 300; font-size: 1.125rem; color: #666; transition: .3s;}
.list_body_item .td.td_file {text-align: center;}
.list_body_item .td.td_file .icon {display: flex; width: 2.875rem; height: 2.875rem; border: 1px solid #d9d9d9; align-items: center; justify-content: center; border-radius: 50%; margin: 0 auto; transition: .3s;}
.list_body_item .td.td_file .td_file_icon {}
.list_body_item .td.td_file .td_baro_icon {width: 2rem; height: 2rem; border: 2px solid #175430; display: none;}
.list_body_item .td.td_file .td_baro_icon img {width: 0.625rem;}

.list_body_item:hover {background-color: #f8f8f8; border-radius: 10px; border-bottom: 1px solid transparent; box-shadow: 2px 0 12px rgba(0,0,0,0.04);}
.list_body_item:hover .td_subj .td_date {color: #175430;}
.list_body_item:hover .td_subj .td_title {color: #175430;}
.list_body_item:hover .td_depart {color: #175430;}
.list_body_item:hover .td_hits {color: #175430;}
.list_body_item:hover .icon.td_file_icon {display: none;}
.list_body_item:hover .icon.td_baro_icon {display: flex;}

.pagination {padding-top: 2.5rem;}
.pagi_ul {display: flex; align-items: center; justify-content: center;}
.pagi_ul li {padding: 0 0.8125rem;}
.pagi_ul li a {display: block; font-weight: 400; font-size: 1.125rem; color: #bdbdbd; transition: .3s;}
.pagi_ul li a:hover {color: #0f0f0f; font-weight: 500;}
.pagi_ul li a.active {color: #0f0f0f; font-weight: 500;}
.pagi_ul li .pg_prev,.pagi_ul li .pg_next {display: flex; width: 2rem; height: 2rem; border-radius: 50%; align-items: center; justify-content: center; border: 1px solid #0f0f0f;}

/* 갤러리형(갤러리) - 리스트 */
.gallery-ul {display: flex; flex-wrap: wrap; gap: 2.5rem; padding-top: 0.625rem;}
.gallery-li {width: calc(100% / 4 - 7.5rem / 4);}
.gallery-thumb {position: relative; height: 0; padding-bottom: 117.242%; border-radius: 1.25rem; overflow: hidden;}
.gallery-thumb img {position: absolute; top: 50%; left: 50%; z-index: 1; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover; object-position: center;}
.gallery-info {padding: 15px; font-weight: 400;}
.gallery-title {padding-bottom: 5px; font-size: 1.125rem; color: #0f0f0f;}
.gallery-text {font-size: 1rem; color: #999;}

/* 게시판 - 상세 */
.list-view-top { border-top: 1px solid #0f0f0f; border-bottom: 1px solid #e8e8e8; padding: 2.375rem 11.875rem 2.25rem 2.125rem; position: relative;}
.list-view-title {font-weight: 400;font-size: 1.4375rem;color: #0f0f0f;display: inline-block;vertical-align: middle;margin-right: 1.125rem;}
.list-view-top-sort {display: inline-block;vertical-align: middle;height: 1.625rem;line-height: 1.625rem;padding: 0 0.625rem;margin-right: 0.5rem;border-radius: 5px;border: 1px solid #ccc;font-size: 14px;font-weight: 300;color: #666;text-align: center;}
.list-view-top-sort:last-child {margin-right: 0;}
.list-view-reply {position: relative;display: inline-block;vertical-align: middle;width: 64px;height: 25px;line-height: 25px;font-size: 0.875rem;font-weight: 300;color: #fff;background: #666;border-radius: 5px;padding-left: 1.8125rem;padding-right: 0.5625rem;margin-right: 0.1875rem;}
.list-view-reply::before {content: "";position: absolute;left: 0.4375rem;top: 0.4375rem;width: 0.9375rem;height: 0.6875rem;background: url(../img/icon-reply.png) no-repeat center center/contain;}
.list-view-secret {font-weight: 400;}
.list-view-top.list-view-top--type2 {padding: 2.0625rem 11.875rem 1.875rem 2.125rem;}
.list-view-top--type2 .list-view-title-wrap {overflow: hidden;margin-bottom: 0.1875rem;} 
.list-view-top--type2 .list-view-title {float: left;font-size: 1.25rem;}
.list-view-top.list-view-top--type2 .list-view-top-sort {float: inherit;min-width: 4.25rem;height: 1.875rem;line-height: 1.875rem;background: #f1f1f1;border: none;border-radius: 15px;font-size: 1rem;font-weight: 300;color: #555;}
.list-view-date {padding-top: 0.25rem;}
.list-view-date span {font-weight: 300;font-size: 1rem;color: #999;padding-left: 0.3125rem;}
.list-view-top-btn-wrap {position: absolute;top: 50%;right: 1.875rem;transform: translateY(-50%);margin: 0 -0.3125rem;}
.list-view-top-btn-item {padding: 0 0.3125rem;font-size: 0;}
.list-view-top-btn-link {display: inline-block;width: 2.625rem;height: 2.625rem;line-height: 2.625rem;border-radius: 50%;text-align: center;}
.list-view-top-btn-link.print {background: #fff url('../img/icon-print.png') no-repeat center center;border: 1px solid #ccc;}

.list-file-wrap {border-bottom: 1px solid #e8e8e8;padding: 1.25rem 0;}
.list-file-ul {margin: -0.3125rem 0;}
.list-file-ul li {padding: 0.3125rem 0;}
.list-file-inner {display: block;border-radius: 10px;border: 1px solid #dedede;background-color: #f9f9f9;padding: 1.375rem 1.875rem;transition: .3s;}
.list-file-inner .file-name {font-weight: 300;font-size: 1rem;color: #333;padding-left: 0.625rem;width: auto;max-width: calc(100% - 6.25rem);}
.list-file-inner .file-capacity {font-weight: 300;font-size: 0.875rem;color: #999;padding-left: 0.3125rem;}

.list-file-inner:hover {border: 1px solid #175430;background-color: #175430;}
.list-file-inner:hover .file-name {font-weight: 400;color: #fff;}
.list-file-inner:hover .file-capacity {color: #fff;}

.list-view-bot {padding: 2.5rem 1.75rem;border-bottom: 1px solid #ccc;}
.list-view-cont-title {padding-bottom: 0.8125rem;}
.list-view-cont-title span {font-weight: 400;font-size: 1.125rem;color: #0f0f0f;padding-left: 0.625rem;line-height: 1;}
.list-view-cont h4 {position: relative;padding-bottom: 0.8125rem;padding-left: 1.625rem;font-weight: 400;font-size: 1.125rem;color: #0f0f0f;line-height: 1;}
.list-view-cont h4::before {content:"";width: 1rem;height: 1rem;background: url('../img/list-view-cont-icon.png') no-repeat center center/contain;position: absolute;left: 0;top: 0;}
.list-view-cont h4 ~ h4 {margin-top: 2rem;}
.list-view-cont-wrap {margin: -0.9375rem 0;}
.list-view-cont {padding: 1rem 0;}
.list-view-cont-box {border: 1px solid #ddd;border-radius: 3px;padding: 1.5rem 1.875rem 1.4375rem;font-weight: 300;font-size: 1rem;color: #555;line-height: 1.625;}
.list-view-cont-text01 {font-weight: 300;font-size: 1rem;color: #555;line-height: 1.625;padding-top: 0.5625rem;}
.list-view-cont-text01:first-child {padding-top: 0;}

.list-rel-notice-wrap {margin-top: 4.375rem;}
.list-rel-notice-title-wrap {position: relative;padding-bottom: 0.75rem;}
.list-rel-notice-title {font-weight: 400;font-size: 1.25rem;color: #0f0f0f;line-height: 1.2;float: left;}
.list-rel-notice-baro {float: right;font-weight: 300;font-size: 1rem;color: #666;line-height: 1;padding-top: 0.25rem;}
.list-rel-notice-baro img {margin-left: 0.5rem;}
.list-rel-notice-box {border: 1px solid #f1f1f1;border-radius: 10px;background-color: #f9f9f9;padding: 0 2.125rem;}
.list-rel-notice-item {display: block;border-bottom: 1px dotted #ddd;padding: 1.375rem 0 ;}
.list-rel-notice-item:last-child {border-bottom: none;}
.list-rel-notice-item > * {font-weight: 300;font-size: 1rem;color: #666;}
.list-rel-notice-item-title {max-width: calc(100% - 10rem);}
.list-rel-notice-item-date {position: relative;max-width: 8.125rem;padding-left: 1.875rem;margin-left: 1.875rem;}
.list-rel-notice-item-date::before {content: '';width: 1px;height: 1.25rem;background-color: #ddd;position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
.notice-list-view-bot {border-bottom: 1px solid #ccc;}
.notice-list-view-cont {padding: 2.5rem 2.0625rem;}
.notice-list-view-img-box {display: inline-block;border: 1px solid #ddd;max-width: 100%;margin-bottom: 1.875rem;font-size: 0;}
.notice-list-view-cont-text {font-weight: 300;font-size: 1rem;color: #666;line-height: 1.625;}

.td-info {margin: 0.625rem -0.8125rem 0; font-size: 0;}
.td-info li {padding: 0 0.8125rem;font-size: 0; display: inline-block;}
.td-info li .icon-wrap {padding-right: 8px;font-size: 1rem;}
.td-info li .icon-wrap img {margin-top: -0.25rem;}
.info-title {font-size: 1rem;font-weight: 300;color: #333;padding-right: 0.625rem;}
.info-text {font-weight: 300;font-size: 1rem;color: #999;}
.view-btn-wrap {margin-top: 1.875rem;}
.view-back-btn {display: block;width: 11.25rem;max-width: 90%;height: 3.125rem;line-height: 3.125rem;margin: 0 auto;border-radius: 10px;font-size: 1rem;font-weight: 300;color: #fff;background-color: #222;text-align: center;}

@media screen and (min-width:1290px){
  .main-title-link:hover {background-color: #fff; border-color: #fff; background-image: url('../img/icon-monitor_g.png'); color: #666;}
  .main-file-link:hover {background-color: #fff; box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1); border-color: #175430;}
  .main-file-link:hover .main-file-txt {color: #175430;}
  .main-file-link:hover .main-file-icon {background-color: #175430;}
  .tab-dep1-li:not(.active) > a:hover {background-color: #999; border-color: #999;}
  .poster-tab-li:not(.active) > button:hover {color: #666;}
  .board-cate-li:not(.active) > a:hover {color: #666;}
  }

/* 개요 */
.sm_title_box {}
.sm_title_box p {font-weight: 300; font-size: 2.875rem; line-height: 1.304;}
.sm_title_box p .point_color {font-weight: 700; color: #e33e3e;}

.sm01_01_wrap {padding-bottom: 4.3125rem; border-bottom: 1px dashed #d5d5d5;}
.sm01_01_ul {padding-top: 3rem; margin: -0.625rem; font-size: 0;}
.sm01_01_ul li {padding: 0.625rem; vertical-align: top; display: inline-block; vertical-align: top; width: 50%;}
.sm01_01_ul li .inner {border-radius: 30px; box-shadow: 0 0 18px rgba(0,0,0,0.08); text-align: center; border: 1px solid #eee; padding: 1.4375rem 1.25rem 2.4375rem; height: 100%;}
.sm01_01_ul li .inner .title {font-weight: 700; font-size: 1.625rem; color: #333; padding-bottom: 1.875rem; position: relative;}
.sm01_01_ul li .inner .title::before {content: ''; width: 1.25rem; height: 0.125rem; background-color: #e33e3e; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.sm01_01_ul li .inner .text {padding-top: 1.75rem; font-weight: 400; font-size: 1.125rem; line-height: 1.55; color: #666;}

.sm01_01_expl_box {background-color: #f7f7f7; border-radius: 30px; margin-top: 1.0625rem; padding: 1.8125rem 2.1875rem;}
.sm01_01_expl_box .qs {font-weight: 700; font-size: 1.25rem; color: #02be86; line-height: 1.75; position: relative;}
.sm01_01_expl_box .qs::before {content: '* '; font-weight: 700; font-size: 1.25rem; color: #02be86;}
.sm01_01_expl_box .as {font-weight: 400; font-size: 1.125rem; color: #333; line-height: 1.55; padding-left: 0.875rem;}

.sm01_02_wrap {padding-bottom: 4.3125rem; border-bottom: 1px dashed #d5d5d5;}
.sm01_02_wrap:last-child {padding-top: 4.3125rem; border-bottom: none; padding-bottom: 0;}
.bar_title {font-weight: 400; font-size: 1.825em; color: #0f0f0f; line-height: 1.27; position: relative; margin-bottom: 1.125rem;}

.sm01_02_graph_box {border-radius: 30px; background-color: #f7f7f7; padding: 3.25rem 9.125rem; position: relative;}
.sm01_02_graph_box::before {content: '[자료출처] 임재규 (21021)'; font-weight: 400; font-size: 1rem; color: #999; position: absolute; bottom: 1.3125rem; right: 1.5rem;}
.sm01_02_graph_ul {margin: -1.3125rem -1.375rem; position: relative; font-size: 0;}
.sm01_02_graph_ul::before {content: ''; background: url('../img/overview01_02_graph_bg.png') no-repeat center; width: 43.75rem; height: 25rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.sm01_02_graph_ul li {padding: 1.3125rem 1.375rem; position: relative; z-index: 1; display: inline-block; width: 33.33%;}
.sm01_02_graph_ul li .inner {box-shadow: 2px 0 20px rgba(0,0,0,0.1); border-radius: 20px; text-align: center; padding: 1rem 1.25rem 1.4375rem; position: relative; z-index: 2; background-color: #fff;}
.sm01_02_graph_ul li .inner .icon {display: flex; align-items: center; justify-content: center; width: 4.0625rem; height: 4.0625rem; border-radius: 50%; background-color: #fafafa; margin: 0 auto;}
.sm01_02_graph_ul li .inner .title {font-weight: 600; font-size: 1.25rem; color: #0f0f0f; margin-top: 0.5rem;}
.sm01_02_graph_ul li .inner .text {font-weight: 400; font-size: 1rem; color: #666; line-height: 1.5; padding-top: 0.625rem;}

.sm01_02_graph_ul li:nth-child(1) {vertical-align: bottom;}
.sm01_02_graph_ul li:nth-child(2) {padding-bottom: 10rem;}
.sm01_02_graph_ul li:nth-child(3) {vertical-align: bottom;}
.sm01_02_graph_ul li:nth-child(4) {vertical-align: top;}
.sm01_02_graph_ul li:nth-child(5) {padding-top: 10rem;}
.sm01_02_graph_ul li:nth-child(6) {vertical-align: top;}

.sm01_02_str_ul {margin: -1.7813rem; position: relative; font-size: 0; padding-bottom: 1.3438rem;}
.sm01_02_str_ul::before {content: '[자료출처] 국가기후환경회의 간담회 자료'; font-weight: 400; font-size: 1rem; color: #999; position: absolute; bottom: 0; right: 1.7813rem;}
.sm01_02_str_ul li {padding: 1.7813rem; position: relative; display: inline-block; width: 20%; vertical-align: top;}
.sm01_02_str_ul li::after {content: ''; width: 2.0625rem; height: 2.0625rem; border-radius: 50%; background: url('../img/icon-arr-right01.png') no-repeat center #666; position: absolute; top: 50%; right: -1.0938rem; transform: translateY(-50%);}
.sm01_02_str_ul li:last-child::after {display: none;}
.sm01_02_str_ul li .inner {border: 1.25rem; background-color: #fff; border-radius: 20px; box-shadow: 2px 0 20px rgba(0,0,0,0.1); text-align: center; padding: 1.4375rem 0.3125rem 2.0625rem;}
.sm01_02_str_ul li .inner .icon {display: flex; align-items: center; justify-content: center; width: 4.0625rem; height: 4.0625rem; border-radius: 50%; border: 1px solid var(--main-color); box-shadow: 0 0 20px rgba(0,0,0,0.1); margin: 0 auto;}
.sm01_02_str_ul li .inner .title {font-weight: 600; font-size: 1.25rem; color: #0f0f0f; line-height: 1.4; margin: 0.5rem 0 0.625rem;}
.sm01_02_str_ul li .inner .text {font-weight: 400; font-size: 1rem; color: #666; line-height: 1.5;}

.sm02_01_wrap {display: flex; align-items: flex-start; justify-content: space-between; gap: 0 1.625rem;}
.sm02_01_col {text-align: center; border-radius: 30px; padding: 1.75rem 1.5625rem; width: 100%;}
.sm02_01_col.blue {background-color: #e3ebf3;}
.sm02_01_col.pink {background-color: #fdece0;}
.sm02_01_col.green {background-color: #e4f3eb;}
.sm02_01_col_title {font-weight: 700; font-size: 1.625rem; line-height: 1.07; padding-bottom: 2.0625rem;}

.sm02_01_col.blue .sm02_01_col_title {color: #395a7b;}
.sm02_01_col.pink .sm02_01_col_title {color: #d66920;}
.sm02_01_col.green .sm02_01_col_title {color: #407357;}

.sm02_01_col_ul01 {margin: -0.375rem 0;}
.sm02_01_col_ul01 li {padding: 0.375rem 0; position: relative;}
.sm02_01_col_ul01 li::before {content: ''; display: block; position: absolute; width: 260%; height: 1px; border-radius: 0; border: none; background-color: #000; top: 50%; left: 0; transform: translateY(-50%);}
.sm02_01_col_ul01 li.color01::before {background-color: #588fc4;}
.sm02_01_col_ul01 li.color02::before {background-color: #2f6daa;}
.sm02_01_col_ul01 li.color03::before {background-color: #40b3c1;}
.sm02_01_col_ul01 li.color04::before {background-color: #58c4a7;}
.sm02_01_col_ul01 li.color05::before {background-color: #85ca63;}
.sm02_01_col_ul01 li.color01 .inner {background-color: #588fc4;}
.sm02_01_col_ul01 li.color02 .inner {background-color: #2f6daa;}
.sm02_01_col_ul01 li.color03 .inner {background-color: #40b3c1;}
.sm02_01_col_ul01 li.color04 .inner {background-color: #58c4a7;}
.sm02_01_col_ul01 li.color05 .inner {background-color: #85ca63;}
.sm02_01_col_ul01 li .inner {border-radius: 30px; display: flex; align-items: center; width: 100%; height: 12.5rem; position: relative; padding-left: 2rem; box-shadow: 0 0 18px rgba(0,0,0,0.08);}

.sm02_01_col_ul01 li .inner .icon {width: 5rem; height: 5rem; border-radius: 50%; background-color: #fff; margin-right: 1.8125rem; display: flex; align-items: center; justify-content: center;}
.sm02_01_col_ul01 li .inner .text {font-weight: 700; font-size: 1.875rem; color: #fff; text-align: left;}
.sm02_01_col_ul01 li .inner .text span {display: block; font-weight: 400; font-size: 1.125rem;}

.sm02_01_col_ul02 {margin: -0.375rem 0;}
.sm02_01_col_ul02 li {padding: 0.375rem 0;}
.sm02_01_col_ul02 li .inner {display: flex; flex-direction: column; height: 12.5rem; width: 100%; border-radius: 30px; box-shadow: 0 0 18px rgba(0,0,0,0.08); border: 2px solid transparent; background-color: #fff; text-align: left; padding: 1.875rem;}
.sm02_01_col_ul02 li .inner .text_box {height: 50%; border-bottom: 1px solid #ddd;}
.sm02_01_col_ul02 li .inner .text_box:first-child {}
.sm02_01_col_ul02 li .inner .text_box:last-child {border-bottom: none; padding-top: 1.5rem;}
.sm02_01_col_ul02 li .inner .text_box .title {font-weight: 500; font-size: 1.125rem; color: #0f0f0f;}
.sm02_01_col_ul02 li .inner .text_box .text {font-weight: 400; font-size: 1rem; color: #666; padding-top: 0.25rem;}

.sm02_01_col_ul03 {margin: -0.375rem 0;}
.sm02_01_col_ul03 li {padding: 0.375rem 0;}
.sm02_01_col_ul03 li .inner {display: flex; flex-direction: column; height: 12.5rem; width: 100%; border-radius: 30px; box-shadow: 0 0 18px rgba(0,0,0,0.08); border: 2px solid transparent; background-color: #fff; text-align: left;}
.sm02_01_col_ul03 li .inner .text_list {height: 100%; padding: 1.5rem 30px;}
.sm02_01_col_ul03 li .inner .text_list.col-2 {}
.sm02_01_col_ul03 li .inner .text_list.col-2 > * {height: 50%;}
.sm02_01_col_ul03 li .inner .text_list.col-4 {}
.sm02_01_col_ul03 li .inner .text_list.col-4 > * {height: 25%;}
.sm02_01_col_ul03 li .inner .text_list_item {font-weight: 400; font-size: 1rem; color: #0f0f0f; line-height: 1.875; border-bottom: 1px solid #ddd; display: flex; align-items: center;}
.sm02_01_col_ul03 li .inner .text_list_item:last-child {border-bottom: none;}

li.color_line01 .inner {border-color: #7da5cc; position: relative;}
li.color_line02 .inner {border-color: #2f6daa; position: relative;}
li.color_line03 .inner {border-color: #40b3c1; position: relative;}
li.color_line04 .inner {border-color: #58c4a7; position: relative;}
li.color_line05 .inner {border-color: #85ca63; position: relative;}

li.color_line01 .inner::before {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #7da5cc; position: absolute; top: 50%; left: -0.4375rem; transform: translateY(-50%);}
li.color_line01 .inner::after {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #7da5cc; position: absolute; top: 50%; right: -0.4375rem; transform: translateY(-50%);}
li.color_line02 .inner::before {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #2f6daa; position: absolute; top: 50%; left: -0.4375rem; transform: translateY(-50%);}
li.color_line02 .inner::after {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #2f6daa; position: absolute; top: 50%; right: -0.4375rem; transform: translateY(-50%);}
li.color_line03 .inner::before {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #40b3c1; position: absolute; top: 50%; left: -0.4375rem; transform: translateY(-50%);}
li.color_line03 .inner::after {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #40b3c1; position: absolute; top: 50%; right: -0.4375rem; transform: translateY(-50%);}
li.color_line04 .inner::before {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #58c4a7; position: absolute; top: 50%; left: -0.4375rem; transform: translateY(-50%);}
li.color_line04 .inner::after {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #58c4a7; position: absolute; top: 50%; right: -0.4375rem; transform: translateY(-50%);}
li.color_line05 .inner::before {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #85ca63; position: absolute; top: 50%; left: -0.4375rem; transform: translateY(-50%);}
li.color_line05 .inner::after {content: ''; width: 0.75rem; height: 0.75rem; border-radius: 50%; border: 2px solid #fff; background-color: #85ca63; position: absolute; top: 50%; right: -0.4375rem; transform: translateY(-50%);}

.sm02_01_col_ul01 li .inner::before {content: attr(data-num); font-weight: 700; font-size: 6.25rem; color: #fff; opacity: 0.05; position: absolute; bottom: -2.5rem; right: 0.4375rem; transform:none; width: auto; height: auto; border-radius: 0; border: none; background-color: transparent; top: inherit; left: inherit;}
.sm02_01_col_ul03 li .inner::after {display: none;}

.sm03_01_wrap {padding: 3.75rem 0; border-bottom: 1px dashed #d5d5d5;}
.sm03_01_ul {margin: -1.2813rem; font-size: 0;}
.sm03_01_ul li {padding: 1.2813rem; display: inline-block; vertical-align: top; width: 25%;}
.sm03_01_ul li .inner {display: flex; align-items: center; border-radius: 20px; border: 1px solid #eee; box-shadow: 0 0 18px rgba(0,0,0,0.08); height: 5.3125rem; padding-left: 2.125rem;}
.sm03_01_ul li .inner span {display: inline-block; vertical-align: middle; font-weight: 500; font-size: 1.125rem; color: #333;}
.sm03_01_ul li .inner .num {font-weight: 700; font-size: 1.125rem; color: #e33e3e;}

.sm03_02_ct {padding: 4.3125rem 0; border-bottom: 1px dashed #d5d5d5;}
.sm03_02_wrap {position: relative;}
.sm03_02_wrap::before {content: ''; width: 97%; height: 1px; background-color: #e2e2e2; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.sm03_02_ul {text-align: center; position: relative; font-size: 0;}
.sm03_02_ul::before {content: ''; width: 0.9375rem; height: 0.9375rem; border-radius: 50%; border-radius: 50%; border: 3px solid #a8cec2; background-color: transparent; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.sm03_02_ul::after {content: ''; width: 0.9375rem; height: 0.9375rem; border-radius: 50%; border-radius: 50%; border: 3px solid #a8cec2; background-color: transparent; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.sm03_02_ul li {padding: 0 1.875rem; position: relative; z-index: 1; display: inline-block;}
.sm03_02_ul li .inner {display: flex; align-items: center; justify-content: center; width: 17.5rem; height: 17.5rem; border-radius: 50%; border: 7px solid #e8c8c8; background-color: #faf0f0;}
/* .sm03_02_ul li .inner .round {display: flex; align-items: center; justify-content: center; background-color: var(--main-color); width: 11.875rem; height: 11.875rem; border-radius: 50%;} */
.sm03_02_ul li .inner .round p {font-weight: 500; font-size: 1.75rem; color: #0f0f0f; line-height: 1.7;}
.sm03_02_ul li .inner .round p span {display: block; font-weight: 500; font-size: 1.875rem; color: #e33e3e; padding-top: 2.5625rem; position: relative;}
.sm03_02_ul li .inner .round p span::before {content: ''; width: 0.8125rem; height: 2px; background-color: #2e6a57; position: absolute; top: 0.9375rem; left: 50%; transform: translateX(-50%);}
.sm03_02_ul li .inner .round p b {font-size: 2.125rem; font-weight: 800;}

.sm03_03_wrap {padding: 4.3125rem 0;}
.sm03_03_ul {margin: -0.4375rem; font-size: 0;}
.sm03_03_ul li {padding: 0.4375rem; display: inline-block; width: 20%;}
.sm03_03_ul li .inner {display: flex; flex-direction: column; height: 17.1875rem; border-radius: 20px; box-shadow: 0 0 18px rgba(0,0,0,0.08); padding: 1.25rem 1.375rem 2rem;}
.sm03_03_ul li .inner .title {width: 100%; border-radius: 30px; text-align: center; font-weight: 500; font-size: 1.25rem; color: #fff; padding: 0.9375rem 0.3125rem; margin-bottom: 1.625rem;}
.sm03_03_ul li:nth-child(1) .inner .title {background-color: #7da5cc;}
.sm03_03_ul li:nth-child(2) .inner .title {background-color: #2f6daa;}
.sm03_03_ul li:nth-child(3) .inner .title {background-color: #40b3c1;}
.sm03_03_ul li:nth-child(4) .inner .title {background-color: #58c4a7;}
.sm03_03_ul li:nth-child(5) .inner .title {background-color: #85ca63;}
.sm03_03_ul li .inner .text_list {}
.sm03_03_ul li .inner .text_list_item {border-bottom: 1px solid #ddd;}
.sm03_03_ul li .inner .text_list_item:first-child {padding-bottom: 1.375rem;}
.sm03_03_ul li .inner .text_list_item:last-child {border-bottom: none; padding-top: 1.375rem;}
.sm03_03_ul li .inner .text_list_item .text01 {font-weight: 500; font-size: 1.125rem; color: #0f0f0f; line-height: 1.555;}
.sm03_03_ul li .inner .text_list_item .text02 {font-weight: 400; font-size: 1rem; color: #666;}

.sm04_01_wrap {padding: 3.75rem 0 4.3125rem; border-bottom: 1px dashed #d5d5d5;}
.sm04_01_ul {margin: 0 -0.8125rem; font-size: 0;}
.sm04_01_ul > li {padding: 0 0.8125rem; vertical-align: top; position: relative; display: inline-block; width: 33.33%;}
.sm04_01_ul > li::before {content: ''; width: 2.5rem; height: 2.5rem; border-radius: 50%; background-color: #000; position: absolute; top: 1.5625rem; right: -1.4375rem; z-index: 1;}
.sm04_01_ul > li:nth-child(1)::before {background: linear-gradient(to left,#85ca63,#40b3c1);}
.sm04_01_ul > li:nth-child(2)::before {background: linear-gradient(to left,#40b3c1,#2f6daa);}
.sm04_01_ul > li::after {content: ''; background: url('../img/icon-arr-right02.png') no-repeat center #fff; width: 2.25rem; height: 2.25rem; border-radius: 50%; position: absolute; top: 1.6875rem; right: -1.3125rem; z-index: 2;}
.sm04_01_ul > li:last-child::before {display: none;}
.sm04_01_ul > li:last-child::after {display: none;}
.sm04_01_ul > li > .inner {border-radius: 30px; padding: 0.9375rem; height: 40.9375rem;}
.sm04_01_ul > li:nth-child(1) > .inner {background-color: rgba(133,202,99,0.1);}
.sm04_01_ul > li:nth-child(2) > .inner {background-color: rgba(64,179,193,0.1);}
.sm04_01_ul > li:nth-child(3) > .inner {background-color: rgba(47,109,170,0.1);}
.sm04_01_ul > li > .inner .level_title {display: flex; width: 100%; height: 3.75rem; border-radius: 20px; align-items: center; justify-content: center; font-weight: 600; font-size: 1.375rem; color: #fff;}
.sm04_01_ul > li:nth-child(1) > .inner .level_title {background-color: #85ca63;}
.sm04_01_ul > li:nth-child(2) > .inner .level_title {background-color: #40b3c1;}
.sm04_01_ul > li:nth-child(3) > .inner .level_title {background-color: #2f6daa;}
.sm04_01_ul > li > .inner .expl_box {text-align: center; padding: 2rem 0 1.4375rem;}
.sm04_01_ul > li > .inner .expl_box .text01 {font-weight: 700; font-size: 1.5rem; color: #0f0f0f; line-height: 1.41; padding-bottom: 0.9375rem;}
.sm04_01_ul > li > .inner .expl_box .text02 {font-weight: 500; font-size: 1.125rem; color: #666; line-height: 1.333;}
.sm04_01_ul > li > .inner .course_list {margin: -0.1563rem;}
.sm04_01_ul > li > .inner .course_list li {padding: 0.1563rem;}
.sm04_01_ul > li > .inner .course_list li .inner {border-radius: 20px; border: 1px solid #eee; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #fff; height: 5.9375rem;}
.sm04_01_ul > li > .inner .course_list li .title {font-weight: 600; font-size: 1.125rem; padding-bottom: 0.5625rem;}
.sm04_01_ul > li > .inner .course_list.level01 li .title {color: #61a73f;}
.sm04_01_ul > li > .inner .course_list.level02 li .title {color: #40b3c1;}
.sm04_01_ul > li > .inner .course_list.level03 li .title {color: #2f6daa;}
.sm04_01_ul > li > .inner .course_list li .text {font-weight: 400; font-size: 1rem; color: #666;}
.sm04_01_ul > li > .inner .last_box {display: flex; align-items: center; justify-content: center; border-radius: 20px; background-color: #2f6daa; margin-top: 0.3125rem; font-weight: 700; font-size: 1.25rem; color: #fff; height: 5rem;}

.sm04_02_wrap {}
.sm04_02_box {}
.sm04_02_ul {background: url('../img/overview04_02_ul_line.png') no-repeat center; font-size: 0; margin: 0 -2.4375rem; padding: 2.625rem 5.1875rem 2.875rem;}
.sm04_02_ul li {padding: 2.125rem 2.4375rem; display: inline-block; vertical-align: top; position: relative;}
.sm04_02_ul li::after {content: ''; position: absolute; top: 50%; right: -1.25rem; transform: translateY(-50%); width: 2.5rem; height: 2.5rem; border-radius: 50%; background-color: #fff; border: 3px solid #02be86; background: url('../img/icon-arr-right02.png') no-repeat center #fff;}
.sm04_02_ul li.color02::after {border-color: #1dd3b7;}
.sm04_02_ul li.color03::after {border-color: #23a8c5;}
.sm04_02_ul li:nth-child(4n)::after {display: none;}
.sm04_02_ul li:last-child::after {display: none;}
.sm04_02_ul li .inner {border-radius: 20px; display: flex; width: 13.75rem;  height: 11.875rem; border: 1px solid #fff; align-items: center; justify-content: center; background-color: rgba(2,190,134,0.5);}
.sm04_02_ul li .inner .inner_box {display: flex; flex-direction: column; width: 12.5rem; height: 10.625rem; border-radius: 20px; background-color: #02be86; padding: 1.75rem 0.625rem 1.75rem 1.875rem;}
.sm04_02_ul li.color02 .inner {background-color: rgba(29,211,183,0.5);}
.sm04_02_ul li.color02 .inner .inner_box {background-color: #1dd3b7;}
.sm04_02_ul li.color03 .inner {background-color: rgba(35,168,197,0.5);}
.sm04_02_ul li.color03 .inner .inner_box {background-color: #23a8c5;}
.sm04_02_ul li .inner .inner_box .year {font-weight: 700; font-size: 1.25rem; color: #fff; display: inline-block;}
.sm04_02_ul li .inner .inner_box .year span {display: inline-block; border-bottom: 2px solid #fff;}
.sm04_02_ul li .inner .content {padding-top: 0.8125rem;}
.sm04_02_ul li .inner .content_item {font-weight: 400; font-size: 1rem; color: #fff; line-height: 1.625;}

.sm04_02_big_box {border-radius: 30px; background-color: #f7f7f7;}
.sm04_02_big_box .sb-ct__box {width: 80rem; max-width: 100%; margin: 0 auto;}