@media screen and (max-width:1600px) {
  /* header */
  .gnb {margin-left: 5rem;}
  .gnb .dp1 > li > a {font-size: 1.2rem; padding: 0 0.5rem;}
  .gnb .dp2 > li > a {font-size: 1.2rem;}

  /* sub */
  .rel_img_slide_wrap {padding: 0 4.8125rem;}
  .rel_img_slide_btn_box {width: 100%; z-index: 10;}

  /* main */
  .main_banner_item.item01 .banner-person-img {width: 70%;}

  /* summary */
  .sm04_02_ul {background-size: 90%; margin: 0; padding: 2rem 4rem;}
  .sm04_02_ul li {width: 25%; padding: 1.2rem 2rem;}
  .sm04_02_ul li .inner {width: 100%;}
  .sm04_02_ul li .inner .inner_box {width: calc(100% - 1rem);}
} /* End */

@media screen and (max-width:1440px) {
  /* footer */
  .footer .inner {height: 5rem;}
  .ft-info .cn-logo {width: 7rem;}
  .ft-info .contact {margin-left: 2rem;}
  .ft-info .contact:before {left: -1rem;}
  .ft-info .contact .t1 {margin-right: 0.5rem; padding: 0.3rem 0.625rem 0.08rem; font-size: 0.8rem;}
  .ft-info .contact .t2 {font-size: 1rem;}
  .ft-info .contact .t3 {font-size: 1rem;}
  .copyright {font-size: 0.8rem;}

  /* sub */
  .sub-visual .inner {height: 22rem; background-position: center left !important;}
  .sub-visual .comp {padding-left: 2rem;}
  .sub-page__title {font-size: 4rem;}
  .sub-page__stitle {font-size: 1.7rem;}

  /* summary */
  .sm04_02_ul {background: none; padding: 0;}
  .sm02_01_col_ul03 li .inner .text_list_item {font-size: 0.8rem;}
} /* End */

@media screen and (max-width:1290px) {
  /* common */
  .container {padding-left: 3rem; padding-right: 3rem;}

  /* header */
  .gnb {margin-left: 2rem;}

  /* main */
  .main-visual .swiper-slide {height: calc(100vh - 10rem);}
  .main-visual .slide-contents .t1 {margin-bottom: 2rem; font-size: 1.5rem;}
  .main-visual .slide-contents .t2 {font-size: 4rem;}
  .main-visual .slide-contents .t3 {margin-top: 2rem;}

  .main_title_box .text01 {font-size: 2.8rem;}
  .main_banner_item.item01 .main_banner_text {top: 6rem; left: 3rem; font-size: 2.5rem;}
  .main_banner_text .green {font-size: 3rem;}
  .main_banner_item .banner_btn {left: 3rem; width: 3rem; height: 3rem;}

  .main_banner_item.item02 .main_banner_text {font-size: 3rem;}

  .main_economy_item {padding: 2rem 1.5rem;}
  .main_economy_item .keyword {font-size: 1rem;}
  .main_economy_item .text_box .text01 {font-size: 2.6rem;}
  .main_economy_item .text_box .text02 {font-size: 1.5rem;}

  .main_banner_item.item03 .main_banner_text .t1 {font-size: 3rem;}

  /* sub */
  .sb-title__box .sb-title {font-size: 2rem;}
  .sb-title__box .sb-title:before {height: 1.4rem;}

  .sb-ct__box {margin-top: 2rem;}
  .sb-text__box.gray {padding: 2rem;}
  .sb-text1 {font-size: 1.3rem;}
  .sb-ct__inner:not(:first-child) {margin-top: 2rem;}
  .sb-ct__inner.bd {padding-top: 2rem;}
  .sb-text__wr.mt1 {margin-top: 0.5rem;}
  .sb-text__wr.mt2 {margin-top: 1rem;}

  .table_box table tr th {font-size: 1rem;}
  .table_box table tr td {padding: 0 1rem;}
  .table_box table tr .text {font-size: 1rem;}
  .table_box table tr td.rowTd .text {font-size: 1rem;}

  .sb-circle .t1 {font-size: 1.3rem;}
  .sb-circle .t2 {font-size: 1rem;}

  .bsArea__box {padding: 2rem 0.625rem 2rem 1.5rem; font-size: 1.2rem;}

  .rel_img_sl_item .txt_wr .title {font-size: 1rem;}
  .rel_img_slide_wrap {padding: 0 4rem;}
  .rel_img_slide_btn_box .prev,
  .rel_img_slide_btn_box .next {width: 3rem; height: 3rem;}

  /* summary */
  .sm_title_box p {font-size: 2rem;}
  .bar_title {font-size: 1.5rem;}

  .sm01_02_graph_box {padding: 3.25rem 3rem;}
  .sm01_02_str_ul li {width: 33.33%;}
  .sm01_02_str_ul li:nth-child(3)::after {display: none;}

  .sm02_01_wrap {flex-direction: column; gap: 1rem;}
  .sm02_01_col_ul01 li::before {display: none;}
  .sm02_01_col_ul03 li .inner .text_list_item {font-size: 1rem;}

  .sm03_01_ul {margin: -1rem;}
  .sm03_01_ul li {padding: 1rem;}

  .sm03_02_ul li {padding: 0 1.3rem;}
  .sm03_02_ul li .inner {width: 15rem; height: 15rem;}

  .sm03_03_ul li {width: 33.33%;}

  .sm04_02_ul li {padding: 1rem;}
  .sm04_02_ul li::after {width: 1.5rem; height: 1.5rem; right: -0.95rem;}

  /* board */
  .list .td_num {width: 6rem;}
  .list .td_depart {width: 10rem;}
  .list .td_hits {width: 6rem;}
  .list .td_file {width: 6rem;}
  .list .td_subj {width: calc(100% - 28rem);}

  .gallery-ul {gap: 2rem;}
  .gallery-li {width: calc(100% / 3 - 4rem / 3);}
} /* End */

@media screen and (max-width:1023px) {
  /* common */
  html,body{font-size: 14px;}
  .contents {margin-top: 4.5rem;}

  /* header */
  .header .inner {display: flex; align-items: center; justify-content: space-between; height: 4.5rem;}
  .hd-logo { width: 15.625rem;}
  .hd-logo > a {display: flex; align-items: center; font-size: 0;}
  .gnb {display: none; position: fixed; top: 4.5rem; right: -100%; z-index: 600; width: 400px; max-width: 100%; height: calc(100% - 4.5rem); margin-left: 0; padding: 2rem; text-align: left; background-color: #f9f9f9; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1); transition: 0.3s;}
  .gnb .dp1 {display: block; height: auto;}
  .gnb .dp2 {position: inherit; top: inherit; left: inherit; transform: inherit;}
  .gnb .dp1 > li > a {display: block; height: auto; padding: 1rem 0; font-size: 1.2rem;}
  .gnb .dp2 > li > a {padding: 5px 1rem;}

  .header-ham {display: flex; align-items: center; position: relative; width: 2.5rem; height: 1.5rem;}
  .header-ham > span {display: block; width: 100%; height: 3px; border-radius: 3px; background-color: #333; transition: .3s;}
  .header-ham > span::after, .header-ham > span::before {content: ''; position: absolute; left: 0; width: 100%; height: 3px; border-radius: 3px; background-color: #333; transition: .3s;}
  .header-ham > span::after {top: 0;}
  .header-ham > span::before {bottom: 0;}
  .header-ham.on > span {background-color: transparent;}
  .header-ham.on > span::after {rotate: 45deg; top: 50%;}
  .header-ham.on > span::before {rotate: -45deg; top: 50%;}

  /* main */
  .main-visual .swiper-slide {height: calc(100vh - 20rem);}

  .main_banner_item.item03 .main_banner_text {left: 0; top: 50%; transform: translateY(-50%); width: 100%;}
  .main_banner_item.item03 .main_banner_text .t2 {font-size: 1.3rem;}

  /* sub */
  .sub-visual .inner {height: 18rem;}
  .sub-page__title {font-size: 3rem;}
  .sub-page__stitle {font-size: 1.3rem;}

  .sub-contents {padding-top: 5rem;}

  .sb-circle__box.child2 {gap: 0 4rem;}
  .sb-circle {width: 14rem; height: 14rem;}

  .bsArea__box {width: calc(100% / 2 - 1rem / 2);}
  .sb-text__box.bsArea {gap: 1rem;}

  /* summary */
  .sm01_01_ul li .inner .title {padding-bottom: 1rem;}
  .sm01_01_ul li .inner .text {padding-top: 1rem;}
  .sm01_01_ul li .inner .text br {display: none;}
  .sm01_01_expl_box {padding: 1rem;}

  .sm01_02_graph_ul::before {background-size: 90%;}
  .sm01_02_graph_ul {margin: -1rem;}
  .sm01_02_graph_ul li {padding: 1rem;}

  .sm01_02_str_ul {margin: -1rem;}
  .sm01_02_str_ul li {padding: 1rem;}
  .sm01_02_str_ul li::after {display: none;}

  .sm02_01_col_ul01 li .inner {height: auto; padding: 1.875rem;}
  .sm02_01_col_ul02 li .inner {height: auto;}
  .sm02_01_col_ul03 li .inner {height: auto;}
  .sm02_01_col_title {padding-bottom: 1.8rem;}

  .sm03_01_ul li {width: 50%;}

  .sm03_02_ul {margin: -1rem;}
  .sm03_02_ul li {padding: 1rem;}
  .sm03_02_ul li .inner {width: 14rem; height: 14rem;}
  .sm03_02_ul li .inner .round p {font-size: 1.4rem;}
  .sm03_02_ul li .inner .round p span {padding-top: 1.5rem; font-size: 1.7rem;}

  .sm04_01_ul {margin: -1rem;}
  .sm04_01_ul > li {width: 100%; padding: 1rem;}
  .sm04_01_ul > li > .inner {height: auto;}
  .sm04_01_ul > li::before {display: none;}
  .sm04_01_ul > li::after {display: none;}

  .sm04_02_ul li {width: 33.33%;}
  .sm04_02_ul li::after {display: none;}

  /* board */
  .board-category__ul .btn {font-size: 1rem;}
  .list-view-top.list-view-top--type2 {padding: 2rem 6rem 1.5rem 2rem;}
} /* End */

@media screen and (max-width:767px) {
  /* common */
  html,body{font-size: 12px;}
  .container {padding-left: 2rem; padding-right: 2rem;}

  /* header */
  .gnb .dp1 > li > a {padding: 0.7rem 0; font-size: 1.3rem;}

  /* footer */
  .footer .inner {display: block; height: auto; padding: 1.5rem 0;}
  .ft-info {display: block;}
  .ft-info .contact {margin: 1rem 0;}
  .ft-info .contact:before {display: none;}

  /* main */
  .main_section {padding: 4rem 0 6rem;}
  .main-visual .swiper-slide {height: 35rem;}
  .main-visual .slide-contents .t2 {font-size: 3.2rem;}
  .main-visual .slide-contents .t2:after {-webkit-text-stroke: 10px;}

  .main_banner_wrap {margin: -1rem 0;}
  .main_banner_box {padding: 1rem 0;}

  .main_title_box .text01 {font-size: 2.2rem;}
  .main_banner_item.item01 .main_banner_text {top: 5.8rem; left: 2rem; font-size: 2rem;}
  .main_banner_text .green {font-size: 2.1rem;}
  .main_banner_item .banner_btn {bottom: 2rem; left: 2rem; width: 2rem; height: 2rem;}
  .main_banner_item .banner_btn img {width: 1rem;}

  .main_banner_item.item02 .main_banner_text {font-size: 2.2rem;}

  .main_economy_wrap {padding: 1rem 0;}
  .main_economy_box {width: 100%;}
  .main_economy_item {height: 13rem; background-position: bottom 50% right -7rem !important;}
  .main_economy_item.item03 {background-position: bottom 50% right -14rem !important;}
  .main_economy_item.item04 {background-position: bottom 70% right -7rem !important;}

  .main_economy_item .text_box .text01 {font-size: 2.2rem;}
  .main_economy_item .text_box .text02 {font-size: 1.3rem;}

  .main_banner_item.item03 .main_banner_text .t1 {font-size: 2.2rem;}

  /* sub */
  .sub-visual .inner {height: 15rem;}

  .sb-title__box .sb-title {padding-left: 1.5rem; font-size: 1.8rem;}
  .sb-title__box .sb-title:before {top: 0; height: 1.6rem;}

  .sb-circle__box.child2 {gap: 0 1rem;}
  .sb-circle {width: 11rem; height: 11rem;}
  .sb-circle .t2:before {margin: 0.5rem auto;}

  .bsArea__box {width: 100%; padding: 1rem 0.625rem 1rem 1.5rem;}

  .table_box {overflow-x: auto;}
  .table_box .mobile_text {display: block;}
  .table_box table {width: 700px;}

  .rel_img_sl_item .txt_wr .title {font-size: 1.2rem;}

  /* summary */
  .sm_title_box p {font-size: 1.8rem;}
  .sm_title_box p br {display: none;}

  .sm01_01_ul li .inner .title {font-size: 1.4rem;}

  .sm01_02_graph_box {padding: 0; padding-bottom: 2rem;}
  .sm01_02_graph_box::before {bottom: 1rem; right: 1rem;}
  .sm01_02_graph_ul {margin: 0;}
  .sm01_02_graph_ul::before {display: none;}
  .sm01_02_graph_ul li {width: 50%; vertical-align: top!important;}
  .sm01_02_graph_ul li:nth-child(2) {padding-bottom: 1rem;}
  .sm01_02_graph_ul li:nth-child(5) {padding-top: 1rem;}
  .sm01_02_graph_ul li .inner .text br {display: none;}

  .sm01_02_str_ul li {width: 50%;}

  .sm02_01_col_ul01 li .inner .icon {width: 4rem; height: 4rem; margin-right: 1rem;}
  .sm02_01_col_ul01 li .inner .icon img {width: 60%;}
  .sm02_01_col_ul01 li .inner::before {font-size: 5rem;}

  .sm03_02_ul li {width: 100%; text-align: center;}
  .sm03_02_ul li .inner {margin: 0 auto;}
  .sm03_02_wrap::before {display: none;}
  .sm03_02_ul::before {display: none;}
  .sm03_02_ul::after {display: none;}

  .sm03_03_ul li {width: 50%;}

  .sm04_02_ul li {width: 50%;}
  .sm04_02_ul li .inner .inner_box {padding: 1.2rem;}

  /* board */
  .board_top {flex-direction: column-reverse; gap: 20px 0;}
  .board_cnt_wrap {width: 100%;}
  .board_cnt {font-size: 14px;}
  .board_srch_wrap {width: 100%;}
  .board_srch_bar {gap: 0 3vw;}
  .board_srch_bar select, .board_srch_input_wrap input[type=text] {padding: 7px 5px; font-size: 14px;}
  .board_srch_bar select {width: 100px; background-size: 10px; background-position: center right 5px;}
  .board_srch_input_wrap {width: calc(100% - 100px - 3vw);}
  .board_srch_input_wrap [type=submit] {width: auto; height: 20px;}
  .board_srch_input_wrap [type=submit] img {width: 13px;}

  .list {border-top: 2px solid #333;}
  .list_head {display: none;}
  .list_body_item {flex-direction: column; align-items: flex-start; padding: 10px 0;}
  .list_body_item .td.td_depart, .list_body_item .td.td_subj {width: 100%; padding: 0; text-align: left;}
  .list_body_item .td.td_depart {padding-top: 4px; font-size: 14px;}
  .list_body_item .td.td_subj .td_date {padding-bottom: 4px;}
  .list_body_item .td.td_subj .td_title {font-size: 14px;}
  .list_body_item .td.td_subj .td_date, 
  .list_body_item .td.td_depart {font-size: 13px;}

  .pagination {padding-top: 20px;}
  .pagi_ul li {padding: 0 0.4rem;}
  .pagi_ul li a {font-size: 14px;}
  
  .td_num,
  .td_hits,
  .td_file {display: none !important;}

  .gallery-ul {gap: 2rem;}
  .gallery-li {width: calc(100% / 2 - 2rem / 2);}

  .list-view-top.list-view-top--type2 {padding: 2rem 0;}
  .list-view-top--type2 .list-view-title-wrap {margin-bottom: 2rem;}
  .list-view-top.list-view-top--type2 .td-info {display: flex; gap: 0.8125rem; margin: 0; padding-right: 3rem;}
  .list-view-top.list-view-top--type2 .td-info li {padding: 0;}
  .list-view-top-btn-wrap {top: inherit; right: 0; transform: inherit; bottom: 20px;}
  .list-file-inner {padding: 1rem 0.8rem;}
  .notice-list-view-cont {padding: 2.5rem 0.8rem;}
} /* End */

@media screen and (max-width:480px) {
  /* main */
  .main-visual .swiper-slide {height: 30rem;}
  .main-visual .slide-contents {padding: 0 2rem;}
  .main-visual .slide-contents .t1 {display: block; width: 80%; margin-bottom: 1.5rem; padding: 1rem 0.8rem 0.7rem; font-size: 1rem;}
  .main-visual .slide-contents .t2 {font-size: 2rem;}
  .main-visual .slide-contents .t3 {margin-top: 1.5rem; font-size: 1.2rem;}

  .main-visual .slide1 .slide-contents .t2:before {top: -3.5rem; left: -3rem; width: 6rem; height: 5rem;}

  .main-visual .scroll-info {width: 12rem; height: 5rem;}
  .main-visual .scroll-info .comp {line-height: 3.6rem;}
  .main-visual .scroll-info .comp .text {font-size: 1rem;}
  .main-visual .scroll-info .comp .icon {width: 2rem; height: 2rem; margin-left: 0.5rem; background-size: 1rem auto;}

  .main_title_box .text01 {font-size: 1.8rem;}

  .main_banner_item {}
  .main_banner_bg {padding-bottom: 65%; background-color: antiquewhite;}
  .main_banner_bg img {width: 100%; height: 100%; object-fit: cover; max-width: none;}
  .main_banner_text {}

  .main_banner_item.item01 .main_banner_bg {padding-bottom: 65%; background-color: antiquewhite;}
  .main_banner_item.item01 .main_banner_bg img {object-fit: inherit; top: inherit; left: inherit; transform: inherit; bottom: 0; right: -20%; width: auto;}

  .main_banner_item.item02 .main_banner_text {font-size: 2rem;}
  .main_banner_item.item02 .main_banner_text:after {-webkit-text-stroke: 7px;}

  .main_economy_item {background-position: bottom 50% right -5rem !important;}
  .main_economy_item .text_box .text01 {font-size: 1.8rem;}

  .main_economy_item.item03 {background-position: bottom 50% right -10rem !important;}
  .main_economy_item.item04 {background-position: bottom 100% right -5rem !important;}

  .main_banner_item.item03 .main_banner_text .t1 {font-size: 2.2rem;}
  .main_banner_item.item03 .main_banner_text .t2 {font-size: 1.2rem;}
  .main_banner_item.item03 .keyword {font-size: 1rem;}

  .main_banner_item.item01 .main_banner_text {top: 5rem;}

  /* sub */
  .sub-visual .inner {border-radius: 1.5rem;}
  .sub-visual .comp {padding-left: 1.5rem;}
  .sub-page__title {font-size: 2.5rem;}

  .sb-section:not(:first-child) {margin-top: 5rem;}
  .sb-ct__box {margin-top: 1rem;}
  .sb-text1 {font-size: 1.2rem;}
  .sb-text1.mark {padding-left: 1rem; text-indent: -1rem;}
  .sb-text2 {font-size: 1.1rem;}
  .sb-text2.mark {padding-left: 1.2rem; text-indent: -1.2rem;}
  .sb-text3 {font-size: 1.1rem;}

  /* summary */
  .sm_title_box p {font-size: 1.6rem; word-break: break-all;}

  .sm01_01_ul li {width: 100%;}
  
  .sm01_02_graph_ul li {width: 100%;}

  .sm01_02_str_ul li {width: 100%;}

  .sm02_01_col_ul01 li .inner .text {font-size: 1.5rem;}
  .sm02_01_col_ul01 li .inner::before {font-size: 4rem; bottom: -1.5rem;}

  .sm03_01_ul li {width: 100%;}

  .sm03_03_ul li {width: 100%;}

  .sm04_02_ul {padding: 0.5rem;}
  .sm04_02_ul li {padding: 0.5rem;}

  .gallery {}
  .gallery-ul {display: block; gap: 0; padding-top: 0; clear: both; width: 100%;}
  .gallery-li {width: 100%; margin-top: 2rem;}
  .gallery-li:first-child {margin-top: 0;}
  .gallery-info {padding: 0.875rem 0 0;}
} /* End */